* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: blue;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.search-container {
  display: flex;
}
.search-logo {
  padding: 10px;
  border: 2px solid #475569;
  background-color: #2850a7;

  outline: none;
}
.input {
  padding: 10px;
  background-color: #2850a7;
  outline: none;
  border: 2px solid #475569;

  width: 320px;
}
.domain-container {
  display: flex;
  justify-content: center;
}
.domain-items {
  width: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;

  border: 2px;
}
